.falling-text-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: grab;
  text-align: center;
}

.falling-text-container:active {
  cursor: grabbing;
}

.falling-text-target {
  display: inline-block;
  padding-top: 0.5em;
}

.word {
  display: inline-block;
  margin: 0 2px;
  user-select: none;
  color: #ffffff;
}

.highlighted {
  color: #3ecf8e;
  font-weight: bold;
}

.falling-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
