.circular-text {
  margin: 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transition: transform 0.3s ease;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 5px;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
